<div class="card">
  <p-menubar>
    <ng-template pTemplate="start">
      <figure class="my-0 mx-2">
        <img class="w-2rem" src="./assets/imges/logo.png">
      </figure>
    </ng-template>
    <ng-template pTemplate="end">
      @for (item of items; track $index) {
      <a [routerLink]="[item?.['path']]" routerLinkActive="surface-200" pRipple
        class="p-link inline-flex justify-content-center align-items-center  p-2 mx-1 hover:surface-200 transition-all transition-duration-200 p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
      }
    </ng-template>
  </p-menubar>
</div>