<section>
  <div class="container my-8">
    <h1 class="my-3 font-bold capitalize">login</h1>
    <form [formGroup]="logIn">
      <!-- user username -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input [autofocus]="true" formControlName="username" pInputText placeholder="username" />
        </p-inputGroup>
        <div class="valid">
          @if (username.dirty && username.touched ) {
          @if (username.getError('required') ) {
          <p-messages [value]="[{severity: 'error', detail: 'username is required', summary: 'validation error' }]"
            [enableService]="false" [closable]="false" />
          }
          }
        </div>
      </div>
      <!-- user password -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input type="password" formControlName="password" pInputText placeholder="password" />
        </p-inputGroup>
        <div class="valid">
          @if (password.dirty && password.touched ) {
          @if (password.getError('required') ) {
          <p-messages [value]="[{severity: 'error', detail: 'password is required', summary: 'validation error' }]"
            [enableService]="false" [closable]="false" />
          }
          }
        </div>
      </div>
      <!-- start wirnning msg validation form-->
      <div class="card flex justify-content-center">
        <p-button (onClick)="submit()" label="LogIn" />
        <p-button [routerLink]="['/home']" class="mx-6" label="See our products" severity="danger" />
      </div>
      <!-- end wirnning msg => validation form -->
    </form>
  </div>
</section>
