<section>
  <div class="container my-8">
    <h1 class="my-3 font-bold capitalize">login</h1>
    <form [formGroup]="logIn">
      <!-- user username -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input [autofocus]="true" formControlName="username" pInputText placeholder="username" />
        </p-inputGroup>
        <div class="valid">
          @if (name.dirty && name.touched ) {
          @if (name.getError('required') ) {
          <p-messages [value]="[{severity: 'error', detail: 'username is required', summary: 'validation error' }]"
            [enableService]="false" [closable]="false" />
          }
          }
        </div>
      </div>
      <!-- user password -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input type="password" formControlName="password" pInputText placeholder="password" />
        </p-inputGroup>
        <div class="valid">
          @if (password.dirty && password.touched ) {
          @if (password.getError('required') ) {
          <p-messages [value]="[{severity: 'error', detail: 'password is required', summary: 'validation error' }]"
            [enableService]="false" [closable]="false" />
          }
          }
        </div>
      </div>
      <!-- start wirnning msg validation form-->
      <div class="card flex justify-content-center">
        <p-button (onClick)="submit()" label="LogIn" />
      </div>
      <!-- end wirnning msg => validation form -->
    </form>
    <!-- start toast massage -->
    <div class="card flex justify-content-center">
      <p-toast />
    </div>
    <!-- end toast massage -->
  </div>
</section>
<!-- start spiner -->
<ngx-spinner bdColor="rgba(0,0,0,0.6)" size="medium" color="red" type="line-spin-fade" [fullScreen]="true">
  <p style="color: #3b82f6"> Loading... </p>
</ngx-spinner>
<!-- end spiner -->
