<section>
  <div class="container-fluid">
    <h1>all category</h1>
    <div class="grid">
      @for (category of allCategory; track $index) {
      <div class="sm:col-6 lg:col-4">
        <figure class="cursor-pointer" [routerLink]="['/specificCategory', category.slug]">
          <img onerror="this.src='https://i.imgur.com/633Fqrz.jpeg'" class="w-full" [src]="category.image"
            [alt]="category">
        </figure>
        <h2 class="text-color-secondary text-center">{{category.slug}}</h2>
      </div>
      }
    </div>
  </div>
</section>
