<section>
  <div class="container-fluid">
    <h5 class="font-bold uppercase text-color-secondary">hot sale</h5>
    <div class="grid">
      <div class="col-12 sm:col-5">
        <div class="card">
          <p-galleria [value]="images" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false"
            [containerStyle]="{
            'max-width': '100%',
            'border-radius': '10px',
            overflow:'hidden'
            }">
            <ng-template pTemplate="item" let-item>
              <img [src]="item.itemImageSrc" style="width: 100%; display: block; height: 240px;" />
            </ng-template>
          </p-galleria>
        </div>
      </div>
      <div class="hidden sm:block sm:col-6">
        <app-card [isSmall]="true" [products]="smallProduct" />
      </div>
      <div class="product container">
        <h2 class="text-color-secondary capitalize">Popular product</h2>
        <app-card [isSmall]="false" [products]="allProduct | popular" />
      </div>
    </div>
  </div>
</section>

<!-- col-12 sm:col-4 lg:col-3 -->
