<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <figure class="my-0 mx-2">
        <img class="w-2rem" src="./assets/imges/logo.png">
      </figure>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a [routerLink]="[item?.path]" pRipple class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>

      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="card flex justify-content-center align-items-center gab-3">
        <a>
          <i class="pi pi-shopping-cart text-3xl" pBadge value="2"></i>
        </a>
        <a class="user p-2 border-round-2xl mx-3 capitalize font-bold">
          <span>Felopatter sanad</span>
        </a>
      </div>
      <!-- search
       <div class="flex align-items-center gap-2">
        <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      </div>
       search -->
    </ng-template>
  </p-menubar>
</div>